<fieldset>
    <legend>Print Order</legend>
    <label>Antal:</label>
    <input type="number" name="PrintQuantity" min="1" />

    <label>Pris per enhed:</label>
    <input type="number" name="PrintUnitPrice" step="0.01" />
</fieldset>
