

<fieldset>
    <legend>Radio Order</legend>

    <label for="producerNameAndEmail">Producent (navn og email):</label>
    <input type="text" id="producerNameAndEmail" name="producerNameAndEmail" />

    <label for="radioArea">Område:</label>
    <input type="text" id="radioArea" name="radioArea" />

    <label for="lengthInSeconds">Varighed (sekunder):</label>
    <input type="number" id="lengthInSeconds" name="lengthInSeconds" />

    <label for="totalPrice">Total pris:</label>
    <input type="number" id="totalPrice" name="totalPrice" />
</fieldset>


