<fieldset>
    <legend>Radio Order</legend>
    <label>Udsendelsesdato:</label>
    <input type="date" name="RadioBroadcastDate" />

    <label>Varighed (sekunder):</label>
    <input type="number" name="RadioDuration" />
</fieldset>

