
@using Umbraco.Cms.Web.Common.PublishedModels;
@model SB2.Models.ViewModels.LoginViewModel
@using (Html.BeginUmbracoForm<MemberController>(nameof(MemberController.Login)))
{
    <div class=order-form>
    <label>Email</label>
    @Html.TextBoxFor(m => m.Email)

    <label>Password</label>
    @Html.PasswordFor(m => m.Password)

    <button type="submit">Login</button>
    @Html.ValidationSummary()

    </div>
}

<style>
    .order-form {
        max-width: 600px;
        margin: 0 auto;
        color:blue;
    }


    label {
        display: block;
        margin-top: 1rem;
    }

    input {
        width: 100%;
        padding: 0.5rem;
        margin-top: 0.3rem;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    button {
        margin-top: 1rem;
        padding: 0.7rem 1.5rem;
        background-color: #007acc;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #005fa3;
    }
</style>
