@using Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "master.cshtml";
}

<style>
    table.excel-style {
        width: 100%;
        border-collapse: collapse;
        font-family: 'Segoe UI', sans-serif;
        font-size: 14px;
        margin-top: 2rem;
    }

    table.excel-style th,
    table.excel-style td {
        border: 1px solid #ccc;
        padding: 12px 16px;
        text-align: left;
    }

    table.excel-style th {
        background-color: #f0f0f0;
        font-weight: 600;
    }

    table.excel-style tbody tr:nth-child(even) {
        background-color: #fafafa;
    }

    table.excel-style tbody tr:hover {
        background-color: #eef5ff;
    }

    h1 {
        margin-bottom: 1rem;
    }

    p {
        font-size: 16px;
        margin-bottom: 2rem;
    }
</style>

<h1>Se alle ordrer</h1>

<p>Herunder ses alle ordrer fra registrerede virksomheder i systemet.</p>

<table class="excel-style">
    <thead>
        <tr>
            <th>Ordre ID</th>
            <th>Firmanavn</th>
            <th>CVR</th>
            <th>Kontaktperson</th>
            <th>Telefon</th>
            <th>Sælger</th>
            <th>Oprettet af</th>
            <th>Dato</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>#2001</td>
            <td>Nordisk Byg A/S</td>
            <td>12345678</td>
            <td>Anne Jensen</td>
            <td>70 20 30 40</td>
            <td>Camilla Holm</td>
            <td>Jens Peter</td>
            <td>24-04-2025</td>
        </tr>
        <tr>
            <td>#2002</td>
            <td>GreenTech Solutions ApS</td>
            <td>87654321</td>
            <td>Thomas Lund</td>
            <td>71 15 45 99</td>
            <td>Thomas Poulsen</td>
            <td>Maria Hansen</td>
            <td>24-04-2025</td>
        </tr>
        <!-- Flere rækker her -->
    </tbody>
</table>

