@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Web.Common.PublishedModels.AllOrdersPage>
@{
    Layout = "master.cshtml";
}
<h1>Se alle ordrer</h1>
<p>Herunder ses alle ordrer fra registrerede virksomheder i systemet.</p>

@await Component.InvokeAsync("OrderOverview")
