@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@Model.Value("pageTitle")</title>

    <link rel="stylesheet" href="~/css/PagesLayout.css" />

</head>
<body>
    <header>
        <h1>SmarterBooking</h1>
    </header>

    <main>
        @RenderBody()
       

    </main>

    <footer>
        <p>&copy; @DateTime.Now.Year - Mit firma</p>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
